# This file is used by pip to install required python packages
# Usage: pip install -r app\requirements.txt
Flask
Flask_Migrate
Flask_SQLAlchemy
Flask_Login
Flask_WTF
SQLAlchemy
psycopg2-binary #for using postgres
WTForms
