{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="lh-lg display-5">Dodaj serial</h1>
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        </br>
        {{ form.episodes.label(class="form-label") }}
        {{ form.episodes(class="form-control") }}
        </br>
        <p class="form-label">Liczba sezonów</p>
        <div class="d-flex justify-content-between">
            <span id="seasons_value"></span>
            <input type="range" class="form-range" id="range_seasons" name="range" min="1" max="200" step="1" value="1">
        </div>
        </br>
        {{ form.director.label(class="form-label") }}
        {{ form.director(class="form-control director-field") }}
        {{ form.redirect_add_director(class="btn btn-info director-btn") }}
        </br>
        {% if form.choose_studio == True %}
            {{ form.studio.label(class="form-label") }}
            {{ form.studio(class="form-control") }}
        {% endif %}
        </br>
        {{ form.genre.label(class="form-label") }}
        {{ form.genre(class="form-control") }}
        </br>
        {{ form.submit(class="btn btn-info") }}
    </form>
<style>
    #range_seasons {
        width: 95%;
        padding-right: 0;
    }
</style>
<script src="{{url_for('static', filename='seriesSlider.js')}}"></script>
{% endblock %}
<script src="{{url_for('static', filename='addDirectorBtn.js')}}"></script>
