{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="lh-lg display-5">Dodaj film</h1>
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        </br>
        {{ form.creation_year.label(class="form-label") }}
        {{ form.creation_year(class="form-control") }}
        </br>
        {{ form.length.label(class="form-label") }}
        {{ form.length(class="form-control") }}
        </br>
        {{ form.director.label(class="form-label") }}
        {{ form.director(class="form-control director-field", id="director-field") }}
        {{ form.redirect_add_director(class="btn btn-info director-btn") }}
        </br>
        {% if form.choose_studio == True %}
            {{ form.studio.label(class="form-label") }}
            {{ form.studio(class="form-control") }}
        {% endif %}
        </br>
        <p class="form-label">Gatunek</p>
        <select id="movie-genre" name="genre" class="selectpicker" multiple data-live-search="true" data-max-options="5" title="Maksymalnie 5 gatunków" data-width="100%" data-size="4">
            {% for option in genres_options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        </br>
        </br>
        {{ form.submit(class="btn btn-info") }}
    </form>
{% endblock %}
<script src="{{url_for('static', filename='addDirectorBtn.js')}}"></script>
