{% extends 'base.html' %}
{% block content %}
    <form method="post" action="">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="lh-lg display-5 text-center">{{ director.firstname }} {{ director.surname }}</h1>
        <div class="d-flex justify-content-between">
            <div>
                <h4>Birthdate: {{ director.birth_date }}</h4>
                <h4>Length: {{ director.country }}</h4>
                <h4>Viewers rating: {{ director.rate }}</h4>
                {% if studio.studio_id %}
                    <h4>Studio: <a href="{{url_for('studio_details', studio_id=director.studio_id)}}">{{ studio.name }}</a></h4>
                {% else %}
                    <h4>Studio: -</h4>
                {% endif %}            
            </div>
            {% if director.studio_id == current_user.user_id %}
                <div class="d-flex flex-column">
                    <a href="{{url_for('director_change', director_id=director.director_id)}}" title="Edit director data">
                        <h4><span class="fas fa-edit"></span> Edit director data</h4>
                    </a>
                    <a href="{{url_for('delete_director', director_id=director.director_id)}}" title="Delete director">
                        <h4><span class="fas fa-trash-alt"></span> Delete director</h4>
                    </a>
                </div>
            {% endif %}
        </div>
        </br>
        
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="movies-tab" data-bs-toggle="tab" data-bs-target="#movies" type="button" role="tab" aria-controls="movies" aria-selected="true">Movies</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="series-tab" data-bs-toggle="tab" data-bs-target="#series" type="button" role="tab" aria-controls="series" aria-selected="false">Series</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="movies" role="tabpanel" aria-labelledby="movies-tab">
                {% if movies.count() > 0 %}
                    </br>
                    <table class="table table-hover" id="director_movie_table">
                        <thead class="table-info">
                            <th>Name</th>
                            <th>Creation year</th>
                            <th>Length [min]</th>
                            <th>Viewers rating</th>
                        </thead>
                        <tbody>
                            {% for movie in movies %}
                            <tr>
                                <td>
                                    <a href="{{url_for('movie_details', movie_id=movie.movie_id)}}">{{ movie.name }}</a>
                                </td>
                                <td>{{ movie.creation_year }}</td>
                                <td>{{ movie.length }}</td>
                                <td>{{ movie.viewers_rating }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    We don't have it in our database
                {% endif %}
            </div>
            <div class="tab-pane fade" id="series" role="tabpanel" aria-labelledby="series-tab">
                {% if series.count() > 0 %}
                    </br>
                    <table class="table table-hover" id="director_series_table">
                        <thead class="table-info">
                            <th>Name</th>
                            <th>Number of episodes</th>
                            <th>Number of seasons</th>
                            <th>Viewers rating</th>
                        </thead>
                        <tbody>
                            {% for s in series %}
                            <tr>
                                <td>
                                    <a href="{{url_for('series_details', series_id=s.series_id)}}">{{ s.name }}</a>
                                </td>
                                <td>{{ s.episodes }}</td>
                                <td>{{ s.seasons }}</td>
                                <td>{{ s.viewers_rating }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    We don't have it in our database
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='prettyTables.js')}}"></script>   
{% endblock %}