{% extends 'base.html' %}
{% block content %}
    <form method="post" action="">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="lh-lg display-5 text-center">{{ director.firstname }} {{ director.surname }}</h1>
        <h4>Data urodzenia: {{ director.birth_date }}</h4>
        <h4>Długość: {{ director.country }}</h4>
        <h4>Ocena widzów: {{ director.rate }}</h4>
        <h4>Wytwórnia filmowa: <a href="{{url_for('studio_details', studio_id=director.studio_id)}}">{{ studio.name }}</a></h4>
        </br>
        
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="movies-tab" data-bs-toggle="tab" data-bs-target="#movies" type="button" role="tab" aria-controls="movies" aria-selected="true">Movies</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="series-tab" data-bs-toggle="tab" data-bs-target="#series" type="button" role="tab" aria-controls="series" aria-selected="false">Series</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="movies" role="tabpanel" aria-labelledby="movies-tab">
                {% if movies.count() > 0 %}
                    </br>
                    <table class="table table-hover">
                        <thead class="table-info">
                            <th>Name</th>
                            <th>Creation year</th>
                            <th>Length [min]</th>
                            <th>Viewers rating</th>
                        </thead>
                        <tbody>
                            {% for movie in movies %}
                            <tr>
                                <td>
                                    <a href="{{url_for('movie_details', movie_id=movie.movie_id)}}">{{ movie.name }}</a>
                                </td>
                                <td>{{ movie.creation_year }}</td>
                                <td>{{ movie.length }}</td>
                                <td>{{ movie.viewers_rating }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    We don't have it in our database
                {% endif %}
            </div>
            <div class="tab-pane fade" id="series" role="tabpanel" aria-labelledby="series-tab">
                {% if series.count() > 0 %}
                    </br>
                    <table class="table table-hover">
                        <thead class="table-info">
                            <th>Name</th>
                            <th>Number of episodes</th>
                            <th>Number of seasons</th>
                            <th>Viewers rating</th>
                        </thead>
                        <tbody>
                            {% for s in series %}
                            <tr>
                                <td>{{ s.name }}</td>
                                <td>{{ s.episodes }}</td>
                                <td>{{ s.seasons }}</td>
                                <td>{{ s.viewers_rating }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    We don't have it in our database
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}