{% extends 'base.html' %}
{% block content %}
    <form method="post" action="">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="lh-lg display-5 text-center">{{ movie.name }}</h1>
        <h4>Creation year: {{ movie.creation_year }}</h4>
        <h4>Length: {{ movie.length }} min</h4>
        <h4>Genre/Genres: {{ genres }}</h4>
        <h4>Viewers rating: {{ movie.viewers_rating }}</h4>
        <h4>Director: {{ director.firstname }} {{ director.surname }}</h4>
        <h4>Studio: <a href="{{url_for('studio_details', studio_id=movie.studio_id)}}">{{ studio.name }}</a></h4>
        </br>

        {% if v_reviews.count() > 0 or j_reviews.count() > 0 %}
            <h3>Reviews</h3>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="viewers-tab" data-bs-toggle="tab" data-bs-target="#viewers" type="button" role="tab" aria-controls="viewers" aria-selected="false">Viewers</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="journalists-tab" data-bs-toggle="tab" data-bs-target="#journalists" type="button" role="tab" aria-controls="journalists" aria-selected="true">Journalists</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="viewers" role="tabpanel" aria-labelledby="viewers-tab">
                    <table id="v_reviews", class="table table-hover">
                        <thead class="table-info">
                            <th>Reviewer</th>
                            <th>Rate</th>
                            <th>Content</th>
                            <th>Posting date</th>
                            <th style="width: 5%"></th>
                        </thead>
                        <tbody>
                            {% for r in v_reviews %}
                            <tr>
                                {% for v in viewers %}
                                    {% if v.viewer_id == r.viewer_id %}
                                        {% if v.is_public == 't' %}
                                            <td>{{ v.nickname }}</td>
                                        {% else %}
                                            <td>Anonym</td>
                                        {% endif %}
                                        <td>{{ r.rate }}</td>
                                        <td>{{ r.content }}</td>
                                        <td>{{ r.posting_date }}</td>
                                        {% if current_user.user_id == v.viewer_id %}
                                            <td><div class="d-flex flex-row">
                                                <a href="{{url_for('edit_review', object_type='f', object_id=movie.movie_id)}}"
                                                   title="Edit review" style="margin-right: 10px">
                                                    <h5><span class="fas fa-edit"></span></h5>
                                                </a>
                                                <a href="{{url_for('delete_review', object_type='f', object_id=movie.movie_id)}}"
                                                   title="Delete review">
                                                    <h5><span class="fas fa-trash-alt"></span></h5>
                                                </a>
                                            </div></td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade show active" id="journalists" role="tabpanel" aria-labelledby="journalists-tab">
                    <table id="j_reviews", class="table table-hover">
                        <thead class="table-info">
                            <th>Reviewer</th>
                            <th>Rate</th>
                            <th>Content</th>
                            <th>Posting date</th>
                            <th>Viewers rating</th>
                            {% if current_user.user_type == 'w' %}
                                <th style="width: 10%">Rate review</th>
                            {% elif current_user.user_type == 'd' %}
                                <th style="width: 5%"></th>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% for r in j_reviews %}
                            <tr>
                                {% for j in journalists %}
                                    {% if j.journalist_id == r.journalist_id %}
                                        <td>{{ j.nickname }}</td>
                                        <td>{{ r.rate }}</td>
                                        <td>{{ r.content }}</td>
                                        <td>{{ r.posting_date }}</td>
                                        <td>{{ r.viewers_rating }}</td>
                                        {% if current_user.user_type == 'w' %}
                                            <td><div class="d-flex flex-row">
                                            {% if not r.has_liked_post(current_user) and not r.has_disliked_post(current_user) %}
                                                <a href="{{url_for('like_action', review_id=r.review_id, action='like')}}"
                                                   title="Like" style="margin-right: 10px">
                                                    <h5><span class="fa-solid fa-thumbs-up"></span></h5>
                                                </a>
                                                <a href="{{url_for('like_action', review_id=r.review_id, action='dislike')}}"
                                                   title="Dislike" style="margin-right: 10px">
                                                    <h5><span class="fa-solid fa-thumbs-down"></span></h5>
                                                </a>
                                            {% elif r.has_liked_post(current_user) %}
                                                <a href="{{url_for('like_action', review_id=r.review_id, action='unlike')}}"
                                                   title="Remove like" style="margin-right: 10px; color: green">
                                                    <h5><span class="fa-solid fa-thumbs-up"></span></h5>
                                                </a>
                                                <h5><span class="fa-solid fa-thumbs-down"></span></h5>
                                            {% elif r.has_disliked_post(current_user) %}
                                                <h5><span class="fa-solid fa-thumbs-up btn-secondary"></span></h5>
                                                <a href="{{url_for('like_action', review_id=r.review_id, action='unlike')}}"
                                                   title="Remove dislike" style="margin-left: 10px; color: red">
                                                    <h5><span class="fa-solid fa-thumbs-down btn-danger"></span></h5>
                                                </a>
                                            {% endif %}
                                            </div></td>
                                        {% elif current_user.user_type == 'd' %}
                                            {% if current_user.user_id == j.journalist_id %}
                                                <td><div class="d-flex flex-row">
                                                    <a href="{{url_for('edit_review', object_type='f', object_id=movie.movie_id)}}"
                                                       title="Edit review" style="margin-right: 10px">
                                                        <h5><span class="fas fa-edit"></span></h5>
                                                    </a>
                                                    <a href="{{url_for('delete_review', object_type='f', object_id=movie.movie_id)}}"
                                                       title="Delete review">
                                                        <h5><span class="fas fa-trash-alt"></span></h5>
                                                    </a>
                                                </div></td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <h3>This movie does not have any reviews yet</h3>
        {% endif %}

        {% if current_user.user_type != 's' %}
            </br>
            <a href="{{url_for('add_review_movie', reviewer_type=current_user.user_type,
            reviewer_id=current_user.user_id, object_id=movie.movie_id)}}">
                <input type="button" class="btn btn-info" value="Add/Edit review">
            </a>
        {% endif %}
    </form>
{% endblock %}