{% extends 'base.html' %}
{% block content %}
    <form method="post" action="">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="lh-lg display-5 text-center">{{ movie.name }}</h1>
        <h4>Creation year: {{ movie.creation_year }}</h4>
        <h4>Length: {{ movie.length }} min</h4>
        <h4>Genre/Genres: {{ genres }}</h4>
        <h4>Viewers rating: {{ movie.viewers_rating }}</h4>
        <h4>Director: {{ director.firstname }} {{ director.surname }}</h4>
        <h4>Studio: <a href="{{url_for('studio_details', studio_id=movie.studio_id)}}">{{ studio.name }}</a></h4>
        </br>

        <h3>Movie reviews</h3>
        </br>
        {% if current_user.user_type != 's' %}
            <a href="{{url_for('add_review',
            reviewer_type=current_user.user_type, reviewer_id=current_user.user_id,
            object_type='m', object_id=movie.movie_id)}}">
                <input type="button" class="btn btn-info" value="Add review">
            </a>
        {% endif %}
    </form>
{% endblock %}