{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="lh-lg display-5">Sign up</h1>
        {{ form.hidden_tag() }}
        {{ form.login.label(class="form-label") }}
        {{ form.login(class="form-control") }}
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {{ form.role.label(class="form-label") }}
        <br/>
        {{ form.role(class="form-control", onchange="showDetails()") }}
        <div id="viewer_role_div">
            <br/>
            {{ form.viewer_role.label(class="form-label") }}
            {{ form.viewer_role(class="form-control", onchange="showDetails()") }}
        </div>
        <div id="name_div">
            <br/>
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <br/>
        {{ form.user_desc.label(class="form-label") }}
        {{ form.user_desc(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-info") }}
        <br/><br/>
        <p class="lh-lg">Already have an account? <a class="link-info" href="{{url_for('login')}}">Login</a></p>
    </form>
<script src="{{url_for('static', filename='registerDropdown.js')}}"></script>
{% endblock %}