{% extends 'base.html' %}
{% block content %}
    <form method="post" action="">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="lh-lg display-5 text-center">{{ studio.name }}</h1>
        <div class="d-flex justify-content-between">
            <div>
                <h4>Country: {{ studio.country }}</h4>
                <h4>Creation year: {{ studio.creation_date }}</h4>
                <h4>Viewers rating: {{ studio.viewers_rating }}</h4>
            </div>
            {% if int_sid == current_user.user_id %}
                <div class="d-flex flex-column">
                    <a href="{{url_for('studio_change')}}" title="Edit studio data">
                        <h4><span class="fas fa-edit"></span> Edit studio data</h4>
                    </a>
                    <a href="{{url_for('home')}}" title="Delete studio">
                        <h4><span class="fas fa-trash-alt"></span> Delete studio</h4>
                    </a>
                </div>
            {% endif %}
        </div>
        </br>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="movies-tab" data-bs-toggle="tab" data-bs-target="#movies" type="button" role="tab" aria-controls="movies" aria-selected="true">Movies</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="series-tab" data-bs-toggle="tab" data-bs-target="#series" type="button" role="tab" aria-controls="series" aria-selected="false">Series</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="actors-tab" data-bs-toggle="tab" data-bs-target="#actors" type="button" role="tab" aria-controls="actors" aria-selected="false">Actors</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="directors-tab" data-bs-toggle="tab" data-bs-target="#directors" type="button" role="tab" aria-controls="directors" aria-selected="false">Directors</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="movies" role="tabpanel" aria-labelledby="movies-tab">
                {% if movies.count() > 0 %}
                    </br>
                    <table class="table table-hover" id="studio_movies_table">
                        <thead class="table-info">
                            <th>Name</th>
                            <th>Creation year</th>
                            <th>Length</th>
                            <th>Director</th>
                            <th>Viewers rating</th>
                        </thead>
                        <tbody>
                            {% for movie in movies %}
                            <tr>
                                <td>
                                    <a href="{{url_for('movie_details', movie_id=movie.movie_id)}}">{{ movie.name }}</a>
                                </td>
                                <td>{{ movie.creation_year }}</td>
                                <td>{{ movie.length }}</td>
                                {% for d in directors %}
                                    {% if d.director_id == movie.director_id %}
                                        <td>
                                            <a href="{{url_for('director_details', director_id=d.director_id)}}">{{ d.firstname }} {{ d.surname }}</a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td>{{ movie.viewers_rating }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    We don't have it in our database
                {% endif %}
            </div>
            <div class="tab-pane fade" id="series" role="tabpanel" aria-labelledby="series-tab">
                {% if series.count() > 0 %}
                    </br>
                    <table class="table table-hover" id="studio_series_table">
                        <thead class="table-info">
                            <th>Name</th>
                            <th>Number of episodes</th>
                            <th>Number of seasons</th>
                            <th>Director</th>
                            <th>Viewers rating</th>
                        </thead>
                        <tbody>
                            {% for s in series %}
                            <tr>
                                <td>
                                    <a href="{{url_for('series_details', series_id=s.series_id)}}">{{ s.name }}</a>
                                </td>
                                <td>{{ s.episodes }}</td>
                                <td>{{ s.seasons }}</td>
                                {% for d in directors %}
                                    {% if d.director_id == s.director_id %}
                                        <td>
                                            <a href="{{url_for('director_details', director_id=d.director_id)}}">{{ d.firstname }} {{ d.surname }}</a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td>{{ s.viewers_rating }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    We don't have it in our database
                {% endif %}
            </div>
            <div class="tab-pane fade" id="actors" role="tabpanel" aria-labelledby="actors-tab">
                {% if actors.count() > 0 %}
                    </br>
                    <table class="table table-hover" id="studio_actors_table">
                        <thead class="table-info">
                            <th>Full name</th>
                            <th>Birthdate</th>
                            <th>Country</th>
                            <th>Viewers rating</th>
                        </thead>
                        <tbody>
                            {% for actor in actors %}
                            <tr>
                                <td>
                                    <a href="{{url_for('actor_details', actor_id=actor.actor_id)}}">{{ actor.firstname }} {{ actor.surname }}</a>
                                </td>
                                <td>{{ actor.birth_date }}</td>
                                <td>{{ actor.country }}</td>
                                <td>{{ actor.viewers_rating }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    We don't have it in our database
                {% endif %}
            </div>
            <div class="tab-pane fade" id="directors" role="tabpanel" aria-labelledby="directors-tab">
                {% if directors.count() > 0 %}
                    </br>
                    <table class="table table-hover" id="studio_directors_table">
                        <thead class="table-info">
                            <th>Full name</th>
                            <th>Birthdate</th>
                            <th>Country</th>
                            <th>Viewers rating</th>
                        </thead>
                        <tbody>
                            {% for d in directors %}
                            <tr>
                                <td>
                                    <a href="{{url_for('director_details', director_id=d.director_id)}}">{{ d.firstname }} {{ d.surname }}</a>
                                </td>
                                <td>{{ d.birth_date }}</td>
                                <td>{{ d.country }}</td>
                                <td>{{ d.rate }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    We don't have it in our database
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='prettyTables.js')}}"></script>   
{% endblock %}